// Colors
$base-color: #483578;
$brand-primary: $base-color !default;
$link-color: $base-color !default;
$btn-primary-bg: lighten($base-color, 15%) !default;
$input-border-focus: lighten($base-color, 30%) !default;

$headings-font-weight: 300 !important;

$spacer-y: 0.5rem;
$spacer-x: 0.2rem;
