{{#if canShow}}
  <span class="dotted-underline" data-toggle="tooltip" data-title="{{pretty-join prosecutor.position prosecutor.organisation prosecutor.municipality}}">{{t 'components.prosecutors-list.metadata'}}</span>
  &middot;
{{/if}}
