<div class="jumbotron">
  <div class="container">
    {{#link-to 'application' class="logo" }}
      <img src="/assets/images/logo.svg" alt="Otvorené Súdy">
    {{/link-to}}

    <ul class="links list-inline pull-right">
      <li>
        <a target="_blank" href="http://transparency.darujme.sk/761">Podporte náš boj za transparetnejšie súdnictvo&nbsp;{{ fa-icon "external-link" }}</a>
      </li>
    </ul>

    <div class="headline">
      <h1 class="title">
        Majetkové priznania prokurátorov
      </h1>

      <h2 class="description">
        Zoznam majetkových priznaní prokurátorov
        za roky 2011 &ndash; 2014

        <br>

        <small class="hidden-xs">
          <a href="https://otvorenesudy.sk">Otvorené Súdy</a>
          a
          <a href="http://transparency.sk">Transparency Internation Slovensko</a>
        </small>
      </h2>
    </div>
  </div>
</div>

<div class="container content">
  {{outlet}}
</div>

<footer>
  <div class="container">
    Dáta sú získané zo portálu <a target="_blank" href="https://www.genpro.gov.sk/prokuratura-sr/majetkove-priznania-30a3.html">Generálnej prokuratúry Slovenskej Republiky</a>. 
    <br>
    Udáje sú získané v originálnej podobe bez úprav a za ich správnosť autori portálu nezodpovedájú.
    <br>
    <br>
    Copyright 2015 &middot;
    <a target="_blank" href="https://github.com/otvorenesudy/opencourts-prosecutors">GitHub</a> &middot; 
    <a target="_blank" href="https://otvorenesudy.sk">Otvorené Súdy</a> &middot;
    <a target="_blank" href="http://transparency.sk">Transparency International Slovensko</a>
  </div>
</footer>
