<div class="jumbotron">
  <div class="container">
    <a class="logo" href="/">
      <img src="/assets/images/logo.svg" alt="Otvorené Súdy">
    </a>

    <ul class="links list-inline pull-right">
      <li>
        <a target="_blank" href="http://transparency.darujme.sk/761">Podporte náš boj za transparetnejšie súdnictvo&nbsp;{{ fa-icon "external-link" }}</a>
      </li>
    </ul>

    <div class="headline">
      <h1 class="title">
        Majetkové priznania prokurátorov
      </h1>

      <h2 class="description">
        Zoznam majektových priznaní prokurátorov
        za roky 2011 &ndash; 2014

        <br>

        <small>
          <a href="https://otvorenesudy.sk">Otvorené Súdy</a>
          a
          <a href="http://transparency.sk">Transparency Internation Slovensko</a>
        </small>
      </h2>
    </div>
  </div>
</div>

{{outlet}}
